
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url(https://img.freepik.com/foto-gratis/cielo-nubes-sol-fondo-manana-azul-cielo-pastel-blanco-foco-suave-foco-luz-solar-resumen-borrosa-cian-degradado-naturaleza-pacifica-abrir-vista-fuera-ventanas-primavera-verano-hermoso_1253-1094.jpg?t=st=1657843201~exp=1657843801~hmac=c601c5bdad74bd873561cbbd00cc91c7e4bfa7510406c320efd01ef5853281fb&w=740);
    background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
    
}

.rojo{
    margin-top: 1cm;
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius:50px;
}

.amarillo{
    background-color: yellow;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius:50px;
}

.verde{
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius:50px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.barra{ justify-content: center;
    justify-self: center;
    height: 200px;
    width: 20px;
    background-color: black;
    margin:0px auto;
    padding: 3px 10px;
  border: rgb(28, 29, 29) 5px solid;
  border-radius: 20px;
}

.luces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:370px;
    width:130px;
     margin:0px auto;
    background-color: black;
    padding: 3px 10px;
  border: rgb(28, 29, 29) 5px solid;
  border-radius: 20px;

}

.semaforo{
    margin-top: 1cm;
    text-align:center;
    margin-bottom: 1cm;
    
}
.glow{
    box-shadow: 0 0 45px #ccccd3;
}

.footer{
    background-image: url(https://img.freepik.com/foto-gratis/cielo-nubes-sol-fondo-manana-azul-cielo-pastel-blanco-foco-suave-foco-luz-solar-resumen-borrosa-cian-degradado-naturaleza-pacifica-abrir-vista-fuera-ventanas-primavera-verano-hermoso_1253-1094.jpg?t=st=1657843201~exp=1657843801~hmac=c601c5bdad74bd873561cbbd00cc91c7e4bfa7510406c320efd01ef5853281fb&w=740);
    background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 2cm;
  color: blue;
}